<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<!-- JDBC -->
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.password">jdbc:postgresql://localhost:5432/postgres</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<!-- Hibernate Properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- <property name="hibernate.default_schema">pokebook</property> -->
		
		<!-- Hibernate console output -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- DDL -->
		<property name="hibernate.hbn2ddl.auto">create</property>
		
		<!-- We will map our classes here -->
		<mapping class="com.revature.models.Follow"/>
		<mapping class="com.revature.models.Like"/>
		<mapping class="com.revature.models.Message"/>
		<mapping class="com.revature.models.User"/>
	</session-factory>
</hibernate-configuration>